.container {
    min-height: 92vh;
}

mat-card{
    margin: 10px;
    margin-top: 3vh;
    cursor: pointer;
    animation: cardAnimation .25s forwards 0s linear;
    transition: all .2s ease-in .2s;
    h4{
        text-align: center;
    }
}

.active{
    border-right: 20px solid #4A4063;
}

@keyframes cardAnimation{
    0% {
        transform: rotate(0) skewX(60deg);
    }
    100% {
        transform: rotate(0) skewX(0);
    }
}

@keyframes buttonsAnimation{
    0%{
        transform: rotate(0) translateX(300%);
    }
    100%{
        transform: rotate(0) translateX(0);
    }
}

.edit-section{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40vh;
    animation: opacityAnimation 1.2s forwards 0s ease;
    mat-accordion{
        width: 100%;
    }
    .mat-expansion-panel-header-title{
        min-width: 50%;
    }
}

.sliders{
    width: 100%;
    position: relative;
    span{
        min-width: 40%;
        margin-right: 5%;
        margin-left: 5%;
        display: inline-block;
    }
    mat-slider{
        min-width: 45%;
        margin-right: 5%;
    }
}

#add-btn{
    margin-right: 5px;
    background-color: #4A4063;
    animation: buttonsAnimation .5s forwards 0s linear;
}

#save-btn{
    margin-right: 5px;
    background-color: #4A4063;
    animation: buttonsAnimation .5s forwards 0s linear;
}

#import-btn{
    margin-right: 5px;
    background-color: #4A4063;
    animation: buttonsAnimation .5s forwards 0s linear;
}

#export-btn{
    margin-right: 5px;
    background-color: #4A4063;
    animation: buttonsAnimation .5s forwards 0s linear;
}

footer{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    width: 100%;
    float: right;
}

input[type="file"] {
    display: none;
}