<div class="container">
  <div class="row">
    <div class="col-lg-4" *ngFor="let param of params; let i = index;">
      <mat-card (click)="setToEdit(i)">
        <h4>{{ param.area }}</h4>
      </mat-card>
    </div>
  </div>
<div>
<div class="edit-section" *ngIf="editParams">
  <mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personalidade
        </mat-panel-title>
        <mat-panel-description>
          Clique para modificar os parâmetros
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Valores
        </mat-panel-title>
        <mat-panel-description>
          Clique para modificar os parâmetros
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Necessidades
        </mat-panel-title>
        <mat-panel-description>
          Clique para modificar os parâmetros
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
