mat-form-field{
    width: 70%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 15%;
    margin-right: 15%;
}

.btn-area{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    .delete-btn {
        color: white;
        background-color: #C65366;
        width: 15%;
        margin-right: 5px;
        font-weight: bold;
        padding-left: 5px;
        padding-right: 5px;
    }
    .confirm-btn {
        color: white;
        background-color: #53AA73;
        width: 15%;
        font-weight: bold;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 800px) {
    .btn-area button span {
        display: none;
    }
}