<form>
  <div class="text-area">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Nome da Área" [(ngModel)]="areaName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
  </div>  
  
  <div class="btn-area">
    <button mat-raised-button class="delete-btn" (click)="close(false)">
      <i class="material-icons">cancel</i> <span>Cancelar</span>
    </button>
    <button mat-raised-button class="confirm-btn" (click)="close(areaName)">
      <i class="material-icons">check</i> <span>Criar</span>
    </button>
  </div>
</form>