.cv{
    
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: -4px -2px 6px -2px rgba(135,130,135,1);
    border-radius: 18px 50px 0px 0px;
    border: 8px none #000000;
    .description{
        border-radius: 18px 50px 0px 0px;
        border: 8px none #000000;
        position: relative;
        display: flex;
        align-items: center;
        background-color: #4A4063;
        color: white;
        font-weight: bold;
        width: 100%;
        height: 10vh;
        span{
            margin-left: 17px;
        }
        button{
            position: absolute;
            right: 0;
            margin-right: 15px;
        }
    }
}