<div class="description">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quos cum ullam mollitia at hic possimus totam? Facere dolorum distinctio id neque ex. Sint iste odio dolore error beatae nam!
</div>

<div class="upload" *ngIf="!result">
  <label for="file-upload" class="custom-file-upload">
    {{ fileName || "Upload Curriculo" }} <i class="material-icons">attach_file</i>
  </label>
  <input id="file-upload" type="file" (change)="fileChange($event)"/>
  <mat-form-field>
    <mat-select placeholder="Idioma do arquivo" [(ngModel)]="selectedLanguage">
      <mat-option value="pt">
        Português
      </mat-option>
      <mat-option value="en">
        Inglês
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="result-text">
  <div *ngIf="result">
    <div class="area-result" id="areaResultRef" #areaResultRef>
        <h3>De acordo com seu perfil:<br> Você se encaixa como: {{areaResult}}</h3>
        <button mat-fab (click)="displayChartsHandler()">
            <mat-icon *ngIf="!displayCharts">expand_more</mat-icon>
            <mat-icon *ngIf="displayCharts">expand_less</mat-icon>
        </button>
    </div>
    
    <div class="container" id="chartsRef" [hidden]="!displayCharts" #chartsRef>
      <div class="row">
        <div class="col-lg-6" style="min-height: 20vh;">
          <h3 class="title">Personalidade</h3>
          <ngx-charts-bar-horizontal
              [results]="personalityRawData"
              showXAxisLabel="true"
              showYAxisLabel="true"
              xAxisLabel="Porcentagem"
              yAxis="true"
              xAxis="true"
          ></ngx-charts-bar-horizontal>
        </div>
        <div class="col-lg-6" style="min-height: 20vh;">
          <h3 class="title">Necessidades</h3>
          <ngx-charts-bar-horizontal
            [results]="valuesRawData"
            showXAxisLabel="true"
            showYAxisLabel="true"
            xAxisLabel="Porcentagem"
            yAxis="true"
            xAxis="true"
          ></ngx-charts-bar-horizontal>
        </div>
        <div class="col-lg-12" style="min-height: 20vh; margin-top: 30px;">
            <h3 class="title">Valores</h3>
            <ngx-charts-bar-horizontal
              [results]="needsRawData"
              showXAxisLabel="true"
              showYAxisLabel="true"
              xAxisLabel="Porcentagem"
              yAxis="true"
              xAxis="true"
            ></ngx-charts-bar-horizontal>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="!result" class="btn-send">
    <button mat-fab *ngIf="!sended" (click)="sendFile()">
      <mat-icon>send</mat-icon>
    </button>
    <mat-spinner color="#4A4063" *ngIf="sended"></mat-spinner>
  </div>
</div>

<div class="result-per-ins">

</div>
