<div class="description">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quos cum ullam mollitia at hic possimus totam? Facere dolorum distinctio id neque ex. Sint iste odio dolore error beatae nam!
</div>

<div class="upload">
  <label for="file-upload" class="custom-file-upload">
    Upload Curriculo <i class="material-icons">attach_file</i>
  </label>
  <input id="file-upload" type="file" (change)="fileChange($event)"/>
  <mat-form-field>
    <mat-select placeholder="Idioma do arquivo" [(ngModel)]="selectedLanguage">
      <mat-option value="pt">
        Português
      </mat-option>
      <mat-option value="en">
        Inglês
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="result-text">

</div>

<div class="result-per-ins">

</div>
