<div class="description">
  <p>Utilize o <a href="https://www.ibm.com/watson/services/personality-insights/">Watson Personality Insights</a> para descobrir sua vocação profissional. <br>É bem simples usar: Basta ter seu currículo no formato PDF, selecionar o idioma do documento e enviar. <br>Você saberá na hora sua vocação e outros detalhes de sua personalidade.</p>
</div>

<div class="upload" *ngIf="!result">
  <label (click)="openDialog()" class="custom-file-upload">
    {{ fileName || "Upload Curriculo" }} <i class="material-icons">attach_file</i>
  </label>
  <mat-form-field>
    <mat-select placeholder="Idioma do arquivo" [(ngModel)]="selectedLanguage">
      <mat-option value="pt">
        Português
      </mat-option>
      <mat-option value="en">
        Inglês
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="!result" class="btn-send">
  <button mat-fab *ngIf="!sended" (click)="sendFile()" matTooltip="Enviar Curriculo">
    <mat-icon>send</mat-icon>
  </button>
  <mat-spinner color="#4A4063" *ngIf="sended"></mat-spinner>
</div>

<div class="result-text">
  <div *ngIf="result">
    <div class="area-result" id="areaResultRef">
        <h3>De acordo com seu perfil:<br> Você se encaixa como: {{areaResult}}</h3>
        <button mat-fab (click)="displayChartsHandler()" *ngIf="!displayCharts" matTooltip="Ver mais resultados gerados">
            <mat-icon>expand_more</mat-icon>
        </button>
        <button mat-fab (click)="displayChartsHandler()" *ngIf="displayCharts" matTooltip="Ver menos resultados">
          <mat-icon *ngIf="displayCharts">expand_less</mat-icon>
        </button>
        <button mat-fab id="reset-btn" matTooltip="Realizar nova Análise" (click)="resetVariables()">
            <mat-icon>loop</mat-icon>
        </button>
    </div>
    
    <div class="container" id="chartsRef" *ngIf="displayCharts">
      <div class="row">
        <div class="col-lg-6" style="min-height: 20vh;">
          <h3 class="title">Personalidade</h3>
          <ngx-charts-bar-horizontal
              [results]="personalityRawData"
              showXAxisLabel="true"
              showYAxisLabel="true"
              xAxisLabel="Porcentagem"
              yAxis="true"
              xAxis="true"
          ></ngx-charts-bar-horizontal>
        </div>
        <div class="col-lg-6" style="min-height: 20vh;">
          <h3 class="title">Necessidades</h3>
          <ngx-charts-bar-horizontal
            [results]="valuesRawData"
            showXAxisLabel="true"
            showYAxisLabel="true"
            xAxisLabel="Porcentagem"
            yAxis="true"
            xAxis="true"
          ></ngx-charts-bar-horizontal>
        </div>
        <div class="col-lg-12" style="min-height: 20vh; margin-top: 30px;">
            <h3 class="title">Valores</h3>
            <ngx-charts-bar-horizontal
              [results]="needsRawData"
              showXAxisLabel="true"
              showYAxisLabel="true"
              xAxisLabel="Porcentagem"
              yAxis="true"
              xAxis="true"
            ></ngx-charts-bar-horizontal>
          </div>
      </div>
    </div>
  </div>
</div>
